a {
  text-decoration: none;
  color: black;
}

.login_button a {
  outline: none;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.login_button {
	background: #7289DA;
	border-radius: 25px;
	padding: 10px 20px;
	transition: background 0.3s, color 0.3s;
	cursor: pointer;
}

.login_button a {
	outline: none;
	text-transform: uppercase;
	color: black;
}

/* Switch Style rules */
.mode-toggle {
  display: flex;
  align-items: center;
}

.mode-toggle .sun, .mode-toggle .moon {
  display: none;
}

body.light-mode .mode-toggle .sun {
  display: inline;
}

body.dark-mode .mode-toggle .moon {
  display: inline;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
  margin: 0 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}