a {
  text-decoration: none;
  color: black;
}

.login_button {
  
}

.login_button a {
  outline: none;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.login_button {
	background: #7289DA;
	border-radius: 25px;
	padding: 10px 20px;
	transition: background 0.3s, color 0.3s;
	cursor: pointer;
}

.login_button a {
	outline: none;
	text-transform: uppercase;
	color: black;
}