@charset "utf-8";
@font-face {
	font-family: PageFont;
	src: url(VT323-Regular.ttf);
}

body {
	background-color: white;
	font-family: PageFont, sans-serif;
}

.header {
	margin: 25px;
	margin-left: 40px;
}


.message {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	font-size: x-large;
}

.buttons {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.socials {
	margin: 25px;
	margin-left: 5%;
}

.socials a:hover {
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	background-color: black;
	color: orange;
}

a:active {
	background-color: orange;
}

.buttons a {
	padding: 5px;
	border-radius: 5px;
	font-size: large;
}