@charset "utf-8";
@font-face {
	font-family: PageFont;
	src: url(VT323-Regular.ttf);
}

body {
	background-color: #000000;
	font-family: PageFont, sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: #1f1f1f;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
	text-align: center;
}

.header a {
	text-decoration: none;
	color: #FFA500;
}

.message {
	font-size: 18px;
	text-align: center;
	color: #FFFFFF;
	margin: 20px 0;
	position: relative;
}

.message::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #FFFFFF;
	opacity: 0.6;
	z-index: -1;
}

.buttons {
	text-align: center;
}

.buttons a {
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
	background-color: #FFA500;
	color: #000000;
	margin: 10px;
	text-decoration: none;
	display: inline-block;
}

.buttons a:hover {
	background-color: #000000;
	color: #FFA500;
}

.socials {
	text-align: center;
	margin-top: 20px;
}

.socials a {
	text-decoration: none;
	color: #FFA500;
	margin: 0 10px;
}

.socials a:hover {
	color: #FFFFFF;
}

.socials img {
	height: 30px;
	width: 30px;
	background-color: #FFFFFF;
	border-radius: 50%; 
	padding: 5px;
}

