@charset "utf-8";
@font-face {
	font-family: 'Nunito Sans';
	src: url(fonts/NunitoSans.ttf);
}

html {
	background-color: #111827;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
}

.header {
	float: left;
	margin: 10px;
	margin-left: 25px;
}

.header h1 {
	float: left;
	margin-left: 3px;
}

.header img {
	float: left;
	margin-top: 15px;
}

nav {
	margin-top: 0px;
	float: right;
}

.header-nav {
	float: right;
	padding: 0px;
	margin: 25px;
}

nav .navigation-bar-li {
	float: left;
	list-style-type: none;
	margin-right: 25px;
	margin-top: 10px;
}

nav .navigation-bar-li-login {
	float: left;
	list-style-type: none;
	margin-right: 25px;
	margin-top: 10px;
	padding: 10px;
}

.div-1 p {
	height: 300px;
	margin: 25px;
	margin-top: 200px;
	width: 95%;
	position: left;
}

/* Hyperlink Rules */
a {
	text-decoration: none;
	color: white;
}

.navigation-bar-li {
	padding: 10px;
	border-radius: 15px;
	transition: 0.3s;
	background-color: #061D95;
}

.navigation-bar-li:hover {
	cursor: pointer;
	background-color: #111827;
}

.navigation-bar-li-login {
	padding: 5px;
	border-radius: 15px;
	transition: 0.3s;
	background-color: #09A1E8;
}

.navigation-bar-li-login:hover {
	cursor: pointer;
	background-color: #111827;
}

/* Dropdown menu properties */
  
  ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
  }
  
  li {
	display: block;
	float: left;
	padding: 10px;
	position: relative;
	text-decoration: none;
  }
  
  li:hover,
  li:focus-within {
	cursor: pointer;
  }
  
  li:focus-within a {
	outline: none;
  }
  
  ul li ul {
	background-color: #061D95;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: 0.5s;
	left: 0;
	display: none;
	border-radius: 15px;
  }
  
  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
	 visibility: visible;
	 opacity: 1;
	 display: block;
  }
  
  ul li ul li {
	clear: both;
	width: 100%;
  }
  
  ul .dropdown {
	margin-top: 10px;
  }
  
  .subLi {
	transition: 0.3s;
	padding: 15px;
	background-color: #111827;
	width: 100%;
  }

  .subLi:hover {
	background-color: #09A1E8;
	border-radius: 5%;
  }
  